@CHARSET "UTF-8";
.right_layer {
	    float: right;
	    width: 100px;
	    clear: both;
}
.left_layer {
   		float: left;
	    width: 100px;
	    clear: both;
}
.uponMe { 
	background-color: yellow;
}
.labelcntr {
  font-family:	Verdana, Geneva, sans-serif;
  font-size : 15px;
  color : #990000;
}
.inputc {
  font-family:	Verdana, Geneva, sans-serif;
  font-size : 11px;
  border : 0px;
  color : darkblue;
}